<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid19 Tracker</title>
    <link href="https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:wght@400&family=Poppins:wght@700&family=Tajawal&display=swap" rel="stylesheet">    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/6eee5c1f8b.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="/">
              <!-- <img src="\pictures\Covid-19 Project logo.PNG" width="180" height="40" alt=""> -->
              <h1 class="logo">C<img id="loading" class="logo-img" src="/pictures/coronavirus.png" alt="O">VID-19 TRACKER</h1>
              <h3 class="logo-text">INDIA</h3>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <div class="dropdown headerDropdown">
                  <button class="btn btn-primary dropdown-toggle headerDropdownButton" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    WORLD UPDATE
                  </button>
                  <div class="dropdown-menu headerDropdownLinks" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/covid19Cases">Covid-19 Cases</a>
                    <a class="dropdown-item" href="/covid19Vaccination">Covid-19 Vaccination <span>NEW</span></a>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/news"><strong>NEWS</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about-me"><strong>ABOUT ME</strong></a>
              </li>
            </ul>
          </div>
      </nav>
  </header>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
