<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid19 Tracker</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174551218-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-174551218-1');
    </script>

    <link href="https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:wght@400&family=Poppins:wght@700&family=Tajawal&display=swap" rel="stylesheet">    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/6eee5c1f8b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="progress-bar"></div>
    <div class="container ">
        <%- include('partials/header'); -%>
        <div class="aboutme-container">
            <div>
                <img class="aboutme-img" src="/pictures/Akash Dandriyal.PNG" alt="Akash Dandriyal">
                <h2>Akash Dandriyal</h2>
            </div>
            <p><strong>Hey!! My name is Akash Dandriyal. I live in a beautiful city Dehradun, located in Uttarakhand, India. I am a college student pursuing Bsc CS from Graphic Era University Dehradun.</strong></p>
            <p>Checkout To Do List, a web app developed by me where you could create a list of works you have to do.</p>
            <p>To Do List- <a href="https://blooming-wave-21917.herokuapp.com/" target="blank"><strong>CLICK HERE</strong> </a></p>
            <p class="aboutme-donotknow">
                WORK IN PROGRESS!!   DON'T KNOW WHAT SHOULD I ADD ABOUT MYSELF😂😂. For me it is way more harder to write about myself as compared to develop this website.
            </p>
            <p><a href="tel:6398974600">Call me at 6398974600</a></p>
        </div>
    </div>
    <%- include('partials/footer') -%> 
    <script src="/index2.js"></script>
</body>
</html>