<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid19 Tracker India | About me</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/pictures/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/pictures/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/pictures/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/pictures/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/pictures/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/pictures/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/pictures/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/pictures/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/pictures/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/pictures/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/pictures/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/pictures/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/pictures/favicon/favicon-16x16.png">
    <link rel="manifest" href="/pictures/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/pictures/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174551218-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-174551218-1');
    </script>

    <link href="https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:wght@400&family=Poppins:wght@700&family=Tajawal&display=swap" rel="stylesheet">    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/6eee5c1f8b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="progress-bar"></div>
    <div class="container ">
        <%- include('partials/header'); -%>
        <div class="aboutme-container">
            <div>
                <img class="aboutme-img" src="/pictures/Akash Dandriyal.PNG" alt="Akash Dandriyal">
                <h2>Akash Dandriyal</h2>
            </div>
            <p><strong>Hey!! My name is Akash Dandriyal. I live in a beautiful city Dehradun, located in Uttarakhand, India. I am a college student pursuing Bsc CS from Graphic Era University Dehradun.</strong></p>                                                                                                                                                                                                                                                                    
        </div>
    </div>
    <%- include('partials/footer') -%>                                                  
    <script src="/index2.js"></script>
</body>
</html>                   